.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.InputElement::-webkit-outer-spin-button,
.InputElement::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Invalid {
  border: 1px solid red;
  background-color: salmon;
}
